a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#text_54a1c552 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle2 { text-align:left; }
.textstyle3 { font-size:54pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000;  }
#img_4146eb3e { position:absolute; left:37%; top:21%; width:26%; background:none; height:auto;  }
#button_55665f04 { box-sizing: border-box; border-radius: 9px; position:absolute; left:31%; top:57%; width:150px; height:40px; background-color:#2B58B3; background: linear-gradient(to bottom,#2B58B3, #132750 50%, #0F1E3E 50%, #0A162C); border: 2px solid #172E55;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#button_4bd8ccd3 { box-sizing: border-box; border-radius: 9px; position:absolute; left:44%; top:57%; width:150px; height:40px; background-color:#9B6983; background: linear-gradient(to bottom,#9B6983, #452F3A 50%, #36242D 50%, #261A20); border: 2px solid #51373E;  }
#button_7446523 { box-sizing: border-box; border-radius: 9px; position:absolute; left:57%; top:57%; width:150px; height:40px; background-color:#970700; background: linear-gradient(to bottom,#970700, #430300 50%, #340200 50%, #250100); border: 2px solid #4F0300;  }
