a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
html, body { min-height: 100% } 
#menu_19d28473 a { text-decoration: none; }
#menu_19d28473_pane { background-color: #E6E6E6; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_19d28473_hr { background-color: #646464; height: 1px; border: none; }
#menu_19d28473_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_19d28473_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_19d28473_entry:hover span { color:#FFFFFF !important; }
		.menu_19d28473_mainMenuEntry { text-align: center; }
		.menu_19d28473_mainMenuEntry:hover {	background-color:#282828; }
		.menu_19d28473_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_19d28473 .mobileEntry { display: none; } 
		#menu_19d28473 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_19d28473 .mobileEntry { display: block; } 
			#menu_19d28473 .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; background: linear-gradient(to bottom, #7F7F7F, #FFFFFF); background-repeat: no-repeat; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_633d4dc3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:140px; background-color:#0080FF;  }
#container_633d4dc3_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:54pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF; font-weight:bold;  }
#img_36bd4fd1 { vertical-align: bottom; position:relative; display: inline-block; margin:-18px 0px 0px 0px;width:70px; background:none; height:auto;  }
#menu_19d28473 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background-color:#0080FF; background: linear-gradient(to right, #7FEAFF, #0080FF);  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle4 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:62px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle3 { position:absolute; width:87px; height:38px; left:72px;  }
.menustyle4 { position:absolute; width:125px; height:38px; left:159px;  }
.menustyle5 { position:absolute; width:139px; height:38px; left:284px;  }
.menuentry_text3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:23px;  }
.textstyle6 { font-size:15pt; font-family:'Times New Roman', Times, serif; color:#000000; font-style:italic; font-weight:bold;  white-space: nowrap; }
.menustyle6 { position:absolute; width:80px; height:38px; left:423px;  }
#container_6d14fdfd { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:655px; background-color:#FFFFFF;  }
#container_6d14fdfd_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:32pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#button_694ba68e { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#419258; background: linear-gradient(to bottom,#419258, #1D4127 50%, #16331E 50%, #102416); border: 2px solid #224D29;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#img_18a61349 { vertical-align: bottom; position:relative; display: inline-block; width:36%; background:none; height:auto;  }
#img_3f2be38f { vertical-align: bottom; position:relative; display: inline-block; width:42%; background:none; height:auto;  }
#img_7e4f3457 { vertical-align: bottom; position:relative; display: inline-block; width:39%; background:none; height:auto;  }
