a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
html, body { min-height: 100% } 
#menu_7b56f8c2 a { text-decoration: none; }
#menu_7b56f8c2_pane { background-color: #E6E6E6; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_7b56f8c2_hr { background-color: #646464; height: 1px; border: none; }
#menu_7b56f8c2_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_7b56f8c2_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_7b56f8c2_entry:hover span { color:#FFFFFF !important; }
		.menu_7b56f8c2_mainMenuEntry { text-align: center; }
		.menu_7b56f8c2_mainMenuEntry:hover {	background-color:#282828; }
		.menu_7b56f8c2_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_7b56f8c2 .mobileEntry { display: none; } 
		#menu_7b56f8c2 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_7b56f8c2 .mobileEntry { display: block; } 
			#menu_7b56f8c2 .normalEntry { display: none; } 
		}
#menu_76a77c69 a { text-decoration: none; }
#menu_76a77c69_pane { background-color: #E6E6E6; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_76a77c69_hr { background-color: #646464; height: 1px; border: none; }
#menu_76a77c69_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_76a77c69_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_76a77c69_entry:hover span { color:#FFFFFF !important; }
		.menu_76a77c69_mainMenuEntry { text-align: center; }
		.menu_76a77c69_mainMenuEntry:hover {	background-color:#282828; }
		.menu_76a77c69_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_76a77c69 .mobileEntry { display: none; } 
		#menu_76a77c69 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_76a77c69 .mobileEntry { display: block; } 
			#menu_76a77c69 .normalEntry { display: none; } 
		}
#menu_688655a9 a { text-decoration: none; }
#menu_688655a9_pane { background-color: #E6E6E6; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_688655a9_hr { background-color: #646464; height: 1px; border: none; }
#menu_688655a9_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_688655a9_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_688655a9_entry:hover span { color:#FFFFFF !important; }
		.menu_688655a9_mainMenuEntry { text-align: center; }
		.menu_688655a9_mainMenuEntry:hover {	background-color:#282828; }
		.menu_688655a9_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_688655a9 .mobileEntry { display: none; } 
		#menu_688655a9 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_688655a9 .mobileEntry { display: block; } 
			#menu_688655a9 .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; background: linear-gradient(to bottom, #7F7F7F, #FFFFFF); background-repeat: no-repeat; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_6b0a0558 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:140px; background-color:#0080FF;  }
#container_6b0a0558_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:54pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF; font-weight:bold;  }
#img_54323429 { vertical-align: bottom; position:relative; display: inline-block; margin:-18px 0px 0px 0px;width:70px; background:none; height:auto;  }
#menu_7b56f8c2 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background-color:#0080FF; background: linear-gradient(to right, #7FEAFF, #0080FF);  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle4 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:62px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle3 { position:absolute; width:87px; height:38px; left:72px;  }
.menustyle4 { position:absolute; width:125px; height:38px; left:159px;  }
.menustyle5 { position:absolute; width:139px; height:38px; left:284px;  }
.menuentry_text3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:23px;  }
.textstyle6 { font-size:15pt; font-family:'Times New Roman', Times, serif; color:#000000; font-style:italic; font-weight:bold;  white-space: nowrap; }
.menustyle6 { position:absolute; width:80px; height:38px; left:423px;  }
#container_371c8eaf { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:655px; background-color:#FFFFFF;  }
#container_371c8eaf_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:32pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#menu_76a77c69 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background-color:#0080FF; background: linear-gradient(to right, #7FEAFF, #0080FF);  }
#menu_688655a9 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background-color:#0080FF; background: linear-gradient(to right, #7FEAFF, #0080FF);  }
